main {
    padding-top: 60px;
}

main.no-header {
    padding-top: 0;
}

.main-header {
    display: flex;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    width: 100vw;
    height: 60px;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    z-index: 1000;    
    box-shadow: 0 -5px 10px 0px rgba(0, 0, 0, 0.3);
}

.main-header-title {
    flex: 1; 
}

.main-header-menu {
    position: relative;
    text-align: right;
}

.main-header-menu img {
    height: 40;
}